@media(max-width:1350px) {
    .nav__content {
        padding: 50px 20px 0;
    }
}

@media(max-width:660px) {
    .nav__title {
        position: fixed;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 20px;
        z-index: 1;
        padding: 30px;
        backdrop-filter: blur(15px);
        right: 0;
        top: 0;
        bottom: 0;
        box-shadow: -3px -2px 11px 0px rgb(8, 18, 28);
transform: translateX(105%);
transition: 0.3s;
    }

    .link {
        font-size: 35px;
    }
    .menu__btn{
        margin: 0 auto;
        display: block;
        border: none;
        font-size: 20px;
        font-weight: 700;
    }
    .menu__btn:focus+.nav__title{
        transform: translateX(0);
    }
}
@media(max-width:520px) {
.flex__hour{
    max-width: 856px;
    width: 100%;
    margin: 0 auto;
}
.header__content{
    flex-direction: column;
    align-items: center;
    max-width: max-content;
    margin: 0 auto;
}
.content__hour {
    width: 798px;
}
.man_shop{
    width: 798px;
}
}
@media(max-width:380px) {
   .nav__content{
    gap: 374px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: max-content;
    margin: 0 auto;
    border-bottom: none;
   }
    }